.user{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    background-color: var(--deep_container);
    border-radius: 2rem;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    margin: 0 1rem;
}
.user_icon{
    color:white;
    font-size: 2rem;
    margin-right: 1rem; 
}

.user_name{
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
}
.user_status{
    margin-left: auto;
    font-size: 1rem;
    color:#4a4e54;
}

.user_status_online{
    color: var(--accent);
}